// Assets
$fonts-path: "../static/fonts" !default;

// Body font-size
$browser-context: 16;

// Icons link
$icon-link: (
  pdf: \f1c1,
  doc: \f1c2,
  docx: \f1c2,
  xls: \f1c3,
  pptx: \f1c4,
  zip: \f1c6
);

// Spacers
$spacer: 1rem !default;
$spacers: (
  (
    0: 0,
    1: ($spacer * .25), // 4px
    2: ($spacer * .5),  // 8px
    3: $spacer,         // 16px
    4: ($spacer * 1.5), // 24px
    5: ($spacer * 2),   // 32px
    6: ($spacer * 2.5), // 40px
    7: ($spacer * 3),   // 48px
    8: ($spacer * 3.5), // 56px
    9: ($spacer * 4),   // 64px
    10: ($spacer * 5),   // 80px,
    11: ($spacer * 6)   // 96px
  )
);

$enable-negative-margins: true;