a {
  transition: color 0.35s, background 0.35s;
  &[target="_blank"]:not(.btn):not(.stretched-link):not(.no-icon) {
    &:after {
      margin-left: 5px;
      @include faw-icon($fa-var-external-link-alt);
    }
    @each $doc, $value in $icon-link {
      @include icon-link($doc, $value);
    }
  }
}